body {
    background: lightblue}

div {
    background: lightyellow;
    padding: 50px;
    width: 350px;
}

ul {
    list-style: none;
    list-style-position: inside;
}

input:checked + label {
    text-decoration: line-through; 
}